---
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev Project</title>
	</head>
	<body>
		<nav class="fixed top-0 right-0 flex flex-row m-5">
			<a class="m-5 link" href="#about">About</a>
			<a class="m-5 link" href="#learn">Learn More</a>
			<a class="m-5 link" href="#contact">Contact</a>
		</nav>

		<div class="flex justify-center gap-40 align-center pt-20 pb-15">
			<div class="flex flex-col whitespace-pre-line">
				<h1 class="font-bold text-3xl m-5">WiCS Dev Project: Spring 2025</h1>
				<p class="text-center"> Hi! This is a task 1 demo for WiCs. 
					Check out my favorite foods, places, and colors &
					Click the 'Cat Fact' button to get a random fact about cats!
					
				</p>
			</div>

			<div class="flex flex-col items-center w-150">
				<button id="catFactButton" class="flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded-full m-3">
					Cat Fact
				</button>
				<p id="catFact" class="text-center break-words"></p>
			</div>
		</div>

		<script>
			document.getElementById("catFactButton")?.addEventListener('click', async () =>{
				const response = await fetch("/api/catfact");
				const data = await response.json();				
				const fact = document.getElementById("catFact");
				if(fact){
					fact.textContent = data.body || "No Fact :(";
				}
			})
		</script>

		<div class="grid grid-rows-3 grid-cols-3 gap-8">
			<div class="grid place-items-center">
				<img class="rounded-full w-20 h-20 m-5" src="https://img.icons8.com/?size=100&id=EhTnl8iNeyRW&format=png&color=000000" alt="Food"/>
				<h3 class="font-bold text-2xl whitespace-pre">Check out My Favorite Food!</h3>
				<img class="rounded-xl w-60 h-60 m-5" src="https://images.immediate.co.uk/production/volatile/sites/30/2023/06/Ultraprocessed-food-58d54c3.jpg?quality=90&resize=440,400" alt="Food"/>
			</div>
			<div class="grid place-items-center">
				<img class="rounded-full w-20 h-20 m-5" src="https://img.icons8.com/?size=100&id=S2NosVsX0YCz&format=png&color=000000" alt="Places"/>
				<h3 class="font-bold text-2xl whitespace-pre-line">Check out My Favorite Places!</h3>
				<img class="rounded-xl w-60 h-60 m-5" src="https://cst.brightspotcdn.com/dims4/default/f25d488/2147483647/strip/true/crop/600x600+300+0/resize/600x600!/quality/90/?url=https%3A%2F%2Fchorus-production-cst-web.s3.us-east-1.amazonaws.com%2Fbrightspot%2F8c%2Fc0%2F7b2a31e7d88288d2acdc1c819ee5%2Fee6762c02b58f8a45516012af08a26b7" alt="Places"/>
			</div>
			<div class="grid place-items-center">
				<img class="rounded-full w-20 h-20  m-5" src="https://img.icons8.com/?size=100&id=XgpUxaTUB74N&format=png&color=000000" alt="Colors"/>
				<h3 class="font-bold text-2xl whitespace-pre-line">Check out My Favorite Colors!</h3>
				<img class="rounded-xl w-60 h-60  m-5" src="https://th-thumbnailer.cdn-si-edu.com/RyYkOGfvbsUBReELYWAdHtUvNBc=/1000x750/filters:no_upscale()/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/6f/5b/6f5bf6b9-f4a5-4109-9375-e969ccf58e7c/file-20170918-8245-fvelv2.jpg" alt="Colors"/>
			</div>
		</div>
		
		<!-- <div class="flex flex-col">
			<h1 class="font-bold text-2xl m-5">My Favorite Foods</h1>
			<div class="flex flex-row" id="food">
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Sushi</li>
					<li>Pizza</li>
					<li>Buggers</li>
				</ul>
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Bread</li>
					<li>Butter</li>
					<li>Cheese</li>
				</ul>
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Broccoli</li>
					<li>Carrots</li>
					<li>Muffins</li>
				</ul>
			</div>
			<h1 class="font-bold text-2xl m-5">My Favorite Places</h1>
			<div class="flex flex-col" id="places">
				<img class="m-5 w-[200px]" src="/assets/egypt.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/paris.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/florida.jpg"/>
			</div>

			<h1 class="font-bold text-2xl m-5">My Favorite Colors</h1>
			<div class="flex flex-row" id="colors">
				<div class="color m-5 bg-amber-400"></div>
				<div class="color m-5 bg-red-400"></div>
				<div class="color m-5 bg-blue-400"></div>
			</div>
			
		</div> --> 
		<!-- <button class="bg-blue-100 rounded-md p-2 m-5 cursor-pointer variant-default">Generate Number</button> -->
	</body>
</html> 

<style>
	.link {
		color: blue;
	}

	.color {
		width: 100px;
		height: 100px;
		border: 1px solid black;
		border-radius: 50%;
	}
</style>
